/* General Styles */

html {
    height: 100%;
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 62.5%;
    background-color: rgb(236,236,236);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}
/* Nav Styles */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    background-color: #9fd3c7;
    z-index: 1;
    margin: 0 auto;
}

.navbar-brand, .nav-link {
    color: #385170 !important;
}

/* Hero styles */

div h1 {
    font-weight: 700;
    text-align: center;
    color: #385170;
}



.card-img-top {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}



/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ececec;
    background-color: #142d4c;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
